* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Arial;
  }

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  footer p{
    color: aliceblue;
    font-size: 12px;
  }

  footer h1{
    color: antiquewhite;
  }
  
  footer {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: rgba(136, 25, 108, 1.4);
  }

@media all and (max-width: 600px){
    footer {
        text-align: center;
      }
}
